.chat-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: sans-serif;
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #3b5998;
    margin: auto;
}
.header{
    background-color: #3b5998;
    color: white;
    width: 100%;
    text-align: center;
}
.messages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.message{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.user{
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}
.new-message-form{
    display: flex;
    width: 100%;
    padding: 10px;
}
.new-message-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 5px 0 0 5px;
  }
  .send-button {
    border: none;
    outline: none;
    background: #3b5998;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  .navibar{
            display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        height: 8vh;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
        background-color: #3b5998;
        border-radius: 10px;
        padding-left: 10px;
        border: solid 1px #000;

      }
.navilist-items
{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        width: 80%;
        color:#fff;
        font-size: medium;
        padding: 10px;
        cursor: pointer;
        
        border-radius: 5px;
}
.navilist-items:hover
{
    background-color: #243f7a;
}